example.com:443 {
    tls example@gmail.com
    root /caddy
    log ./caddy.log
    status 404 /*
    index ./www/index.txt
    basicauth /api admin YOUR-PASSWORD
    proxy /ray v2ray:8888 {
        websocket
        header_upstream -Origin
    }
}