example.com:443 {
    tls example@google.com
    root /caddy
    log ./caddy.log
    status 404 /*
    index ./www/index.txt
    basicauth /api admin YOUR-PASSWORD
    proxy /ray 127.0.0.1:8888 {
        websocket
        header_upstream -Origin
    }
}